*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: #11072F;
  font-family: 'Poppins',
    sans-serif;
    color: white;
    margin: 0
}

.app-container {
  width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.app-title {
  margin: 1em 0 1em 0;
  text-align: center;
  width: 85%;
  align-self: flex-start;
}
.app-h1 {
  width: 85%;
}