.favorites-container {
  width: 85%;
  height: auto;
  align-self: center;
  margin-bottom: 5em;
}

.favorites-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  background-color:rgb(30, 1, 89);
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 2em;
  transition: 0.3 ease;
}

.favorite-heroes {
  padding: 3em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.collapse-btn {
    display: inline-block;
    height: 2em;
    padding: 0.3em 0.75em;
    font-size: 1.25em;
    background:blue;
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 100%;
    font-weight: 700;
    transition: 250ms ease-in-out,
    opacity 250ms linear;
}