@media (min-width: 425px) {
  .favorites-container {
    width: 95%;
    height: auto;
    align-self: center;
    margin-bottom: 5em;
    text-align: center;
  }
  
  .favorites-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid gray;
    border-radius: 2em;
    transition: 0.3 ease;
    animation: drop 0.3s ease;
  }
  
  .favorite-heroes {
    padding: 3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
  }
  
  .collapse-btn {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border: none;
    color: white;
    background-color: rgba(128, 128, 128, 0.372);
    align-self: flex-end;
  }
  
  
  .favorites-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
 
} 
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media (max-width: 425px) {
  .favorites-container {
    width: 100%;
    margin-bottom: 5em;
    text-align: center;
    order: 1;
    margin: auto;
    align-self: center;
  }
  .collapse-btn {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border: none;
    order: 0;
    color: white;
    background-color: rgba(128, 128, 128, 0.372);
  } 
  .favorite-heroes {
    display: flex;
    flex-wrap: wrap;

  }
  .favorites-title {
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px solid gray;
  }
}
