@media(min-width: 425px) {
  .hero-container {
    width: 285px;
    height: 174px;
    border-radius: 2rem;
    animation: drop 0.3 ease;
  }
  
  .hero-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.7fr 1fr;
    height: 174px;
    max-width: 285px;
    padding: 1.2rem 1.2rem 2rem 1.2rem;
  }
  
  .hero-name {
    font-size: 1.2em;
    font-weight: 700;
    grid-row: 2/3;
    font-size: 1.5em;
    justify-self: center;
  }
  .hero-background-image-container {
    position: relative;
    width: 285px;
    height: 174px;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: -10rem;
    z-index: -1;
  }
  .hero-background-image {
    width: 285px;
    border-radius: 2rem;
    height: 174px;
    filter: blur(8px);
    opacity: 0.5;
  }
  .hero-image {
    margin-right: 0.5em;
    align-self: center;
    max-height: 140px;
    width: 105px;
    border-radius: 5%;
    grid-row: 1/5;
    grid-column: 1/2;
  }
  
  .hero-btn {
    display: inline-block;
    border-radius: 100%;
    height: 4em;
    width: 4em;
    padding: 0 0.150em 0;
    background-color: #7B61FF;
    border: none;
    justify-self: flex-end;
    grid-row: 4/5;
    grid-column: 1/2;
    transition-duration: 0.5s
  }

  .hero-btn:hover
  .hero-btn:focus {
    background-color: #4f31e3;
  }
  
  .new-hero {
    background-color: #7b61ffb5;
    padding: 0.4em;
    filter: drop-shadow(0px 5px 3px black);
    font-weight: 600;
    border-radius: 3em;
    width: 78px;
    font-size: 0.55em;
    justify-self: flex-end;
  }
  
.hero-realname {
  text-align: left;
  justify-self: center;
  margin: 0 0.5em 0 0.5em;
  grid-row: 3/4;
  grid-column: 2/3;
  color: #FFFFFF7D;
  font-size: 1em;
  font-weight: 700;
}
.hero-power {
  justify-self: center;
  align-self: center;
  grid-row: 4/5
}
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media (max-width: 425px) {
  .hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  line-height: 1.2; 
  margin:auto;
  margin-bottom: 1em;
  width: 80%;
  }
  .hero-image {
    width: 70%;
    height: 12rem;
    border-radius: 10%;
  }

  .hero-wrapper {
    display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10%;
  line-height: 1.2; 
  margin-bottom: 3em;
  width: 80%;
  z-index: 2;
  }
  .hero-background-image-container {
    max-width: 12rem;
    max-height: 22rem;
    overflow: hidden;
    margin-bottom: -20.5rem;
    border-radius: 2em;
  }

  .hero-background-image {
    height: 24rem;
    width: 14rem;
    filter: blur(8px);
    opacity: 0.5;
  }

  .hero-name {
    font-weight: 700;
  }

  .hero-realname {
    font-weight: 700;
    color: gray
  }

  .hero-btn {
    display: inline-block;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    padding: 0 0.150em 0;
    background-color: #7B61FF;
    border: none;
    transition: 250ms ease-in-out;
  }
  .new-hero {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #7b61ffb5;
    padding: 0.4em;
    filter: drop-shadow(0px 5px 3px black);
    font-weight: 600;
    border-radius: 3em;
  }
}